<footer style="background-color: #4682b4; color: white; padding: 16px;">
    <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
        <!-- Footer Links -->
        <div style="display: flex; gap: 20px;">
            <MudText Typo="Typo.body2">
                <a href="#privacy" style="color: white; text-decoration: none;">Privacy Policy</a>
            </MudText>
            <MudText Typo="Typo.body2">
                <a href="#terms" style="color: white; text-decoration: none;">Terms of Service</a>
            </MudText>
        </div>

        <!-- Copyright -->
        <MudText Typo="Typo.body2" style="margin-left: 16px;">
            © 2024 Clínica da Mulher. All Rights Reserved.
        </MudText>

        <!-- Icons and Copyright -->
        <div style="display: flex; gap: 20px; align-items: center;">
            <!-- Social Icons -->
            <a href="https://github.com/davidfreitas51/BlazorClinicaDaMulher" target="_blank" style="color: white; text-decoration: none; font-size: 1.5rem;">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/david-freitas51/" target="_blank" style="color: white; text-decoration: none; font-size: 1.5rem;">
                <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" />
            </a>
            <a href="https://instagram.com" target="_blank" style="color: white; margin-right: 30px; text-decoration: none; font-size: 1.5rem;">
                <MudIcon Icon="@Icons.Custom.Brands.Instagram" />
            </a>
        </div>
    </div>
</footer>
