@inherits LayoutComponentBase

<PageTitle>Clínica da Mulher</PageTitle>

<MudLayout style="display: flex; flex-direction: column; min-height: 100vh;">
    <UserHeader />

    <MudMainContent style="flex: 1;">
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>
    </MudMainContent>

    <div style="flex-shrink: 0;">
        <UserFooter />
    </div>
</MudLayout>
